/node_modules
/public/hot
/public/storage
/public/uploads/items/*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

Report/Report.aux
Report/Report.log
Report/Report.synctex.gz
Report/Report.toc

*.aux
*.log
*.gz
*.toc